<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Sky Walker</title>
  <script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
  <!--
     <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
   -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://sfxr.me/riffwave.js"></script>
  <script src="https://sfxr.me/sfxr.js"></script>

  <script>
    var hello = "HELLO USER";
    var what_am_i = "a sky walker";
    var what_is_my_name = "... christian";
    var what_is_this_world = "This information is locked.";
    var what_do_these_items_do = "I can see they have what you call a \"title.\" You can read it by \"mousing over\" the item."
    var what_is_your_name = "I don't recall."
    var what_is_the_gateway = "The ending"
    var where_am_i_from = "...You are from another place.";
    var where_should_i_go = "I cannot know of this, though there is someone who can.";
    var why_ = "My friend in the sky knows... they are requesting you through what you call the \"Network\", but can only send a \"Preview\" of their Response.";
    var how_do_i_leave_this_place = 'My friend, the man behind the tree, knows of a gateway.';
    var how_could_you_know = "This information is locked.";
    var the_man_behind_the_tree = "The being behind the tree, is not you or me. Behind the tree lies the key."
    var ultimate_key = "";
    var สต = {world: {player: {xSpeed : 0, ySpeed: 0}, playerCloud: {xSpeed: 0, ySpeed: 0},
    yellowSwitch: {}, redSwitch: {}, blueSwitch: {} }};
    var emptyMemory = "undefined";
    var why_cant_metroid_crawl = "test";
  </script>

  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <section class="border border-light border-4" id="topBorder">
    <section class="center mt-3">
      <button id="signupButton" type="button" class="btn inline btn-secondary" disabled=true>Sign up</button>
      <button id="loginButton" type="button" class="btn inline btn-secondary">Login</button>
      <button id="changePasswordButton" type="button" class="inline hidden btn btn-secondary">Change Password</button>
      <a id="logoutLink" role="button" class="inline hidden btn btn-secondary" href='/logout'>Save and Quit</a>
      <input id="_csrf" type="hidden" name="_csrf" />
    </section>
    <section id="formContent" class="">
    </section>
  </section>
  <div id="game">
    <p id="createResponse">Please log in or create an account.</p>
    <div id="payModel"></div>
    <div id="playerDisplay"></div>
    <canvas width="640" height="480" id="canvas_player">
      If this message is displayed, the canvas could not be loaded. This is likely because of the browser
      you are in.
    </canvas>
    <canvas width="640" height="480" id="canvas_walkers"></canvas>
    <canvas width="640" height="480" id="canvas_js3"></canvas>
    <canvas width="640" height="480" id="canvas_bg"></canvas>
  </div>

  <div id="gameInfo">
  </div>
  <footer class="center">
    <p>By Christian Eliopoulos</p>
  </footer>

  <script src="/assets/my_sky.js"></script>
  <script src="/assets/my_shared.js"></script>
</body>

</html>