html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: initial;
    padding-top: 30px;
}

.inline {
    display: inline-block;
}

.mainForm {
    width: 650px;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
    padding-top: 20px;
}

#signupButton {
    margin-right: 50px;
    width: 90px;
}

#loginButton {
    margin-left: 50px;
    width: 90px;
}

#changePasswordForm{
    width: 800px;
    height: 178px;
}

#changePasswordForm label {
    width: 200px;
}

#changePasswordButton{
    width:185px;
    margin-right: 90px;
}

.invisible{
    visibility: hidden;
}

#logoutButton{
    width:90px;
    margin-left: 100px;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

#colorField {
    width: 180px;
}

.formSubmit {
    transition: background-color 0.4s ease;

    /* I got this code for centering an inline-block element from https://stackoverflow.com/questions/4980525/css-center-display-inline-block */
    position: relative;
    /* Move the element to the right by 50% of the container's width */
    left: 50%;
    /* Calculates 50% of the element's width, and moves it by that */
    /* amount across the X-axis to the left */
    transform: translateX(-50%);

    margin-top: 25px;
    font-size: 1.2em;
    border-radius: 2px;
    border-color: #6f8a9a;
    padding: 3px 10px;
    color: black;
    text-decoration: none;
    overflow: auto;
    font-weight: bolder;

    cursor: pointer;
}

.formSubmit:link,
.formSubmit:visited,
.formSubmit:hover,
.formSubmit:active {
    background-color: #338acc;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #cbcee7;
    border: 2px solid;
}

#user,
#pass,
#pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus,
#pass:focus,
#pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

.hidden {
    display: none;
}


#canvas_player {
    z-index: 2;
    position: absolute;
    border: 0.5rem outset rgba(131, 220, 250, 0.7);
}

#canvas_walkers {
    z-index: 1;
    position: absolute;
    border: 0.5rem outset lightpink;
}

#canvas_bg {
    z-index: 0;
    position: absolute;
    border: 0.5rem outset lightgreen;
}

#game {
    padding: 0;
    position: relative;
    margin: 0 auto;
    width: 640px;
    height: 540px;
    font-family: 'Raleway', sans-serif;
    display: block;
}

.center {
    text-align: center;
    margin: 0 auto;
}

#createResponse {
    text-align: center;
    font-weight: bold;
    height: 18px;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    display: block;
    margin: auto;
    margin-top: 20px;
}

button:enabled {
    color: black;
    background-color: #e7e7e7;
    transition: background-color 250ms linear;
}

button:enabled:hover {
    background-color: #cbcee7;
    border: 2px solid;
}

footer {
    margin-top: 40px;
}